@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    color: #fff;
    font-family: 'League Spartan', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 8px;
}

hr {
    border-color: rgb(255, 255, 255, 0.48);
}

span {
    color: #f9004B;
}


nav ul {
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;

}


ul {
    list-style: none;
    color: #fff;
    font-weight: bold;
}


nav ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    ;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;

}

nav ul li {

    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.4s;
}

nav ul li a:hover {
    color: #f9004B;
}

#check:checked~ul {
    right: 0;

}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 0.5px;
    right: 15px;
    color: rgba(255, 255, 255, 1);
}


#scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

#scroll img {
    margin-bottom: 20px;
    width: 40px;
    animation: jumping 1.2s linear infinite;
    cursor: pointer;
}

#main {
    height: 100vh;
    background-image: url(../img/bg-desktop.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */


}

h4 {
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 10px;
}

h1 {

    margin-bottom: 10px;
    font-size: 35px;
    letter-spacing: 2px;

}

h3 {
    letter-spacing: 2px;
    font-size: 20px;
}

.apresentacao {
    margin-left: 50px;
    margin-top: 170px;

}


/* efeito de digitação */
.line {
    border-right: 2px solid #1e1e1e;
    font-size: 2em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

}


.typing-animation {
    animation: cursorPiscando 500ms steps(20) infinite normal, typing 4s steps(20) 2s normal;
}

@keyframes cursorPiscando {
    from {
        border-right: 2px solid rgb(255, 255, 255);
        ;
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 12em;
    }
}

@keyframes jumping {

    from {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }

}






.separador {
    border-color: #121314;
    border: 1px solid #2b1a51;
}

@media(min-width:414px) {
    h1 {
        font-size: 40px;
    }

    #scroll {
        margin-top: 45vh;
    }

}


/*Smartphone Landscape-----------------------------------------------------------------------------------------------*/
@media(min-width:576px) {

    .apresentacao {
        margin-top: 80px;
    }

    #scroll {

        margin-top: 20vh;
    }
}

/*Tablet
portrait-----------------------------------------------------------------------------------------------------*/
@media(min-width:768px) {


    .apresentacao {
        margin-top: 250px;
    }

    #scroll {
        margin-top: 50vh;
    }
}


/* Tablet Landscape-------------------------------------------------------------------------------------------------------*/

@media(min-width:992px) {
    #scroll {
        margin-top: 38vh;
    }


}


@media(min-width:1200px) {


    h1 {
        font-size: 50px;
        margin: 5px 0px 5px;
    }

    .apresentacao {
        margin-top: 150px;
        margin-left: 80px;
    }

    #scroll {
        margin-top: 30vh;
    }

    h4 {
        /* font-family: 'Montserrat', sans-serif; */
        margin-bottom: 3px;
    }

    label {
        display: none;
    }


    nav ul {
        display: flex;
        position: static;
        height: auto;
        background-color: transparent;
        gap: 30px;
    }

    nav ul li {
        float: left;
        border: 0;
    }



    #about-me {
        height: 85vh;
        background-color: #201B2C;
        padding: 30px 80px;
        display: flex;
        align-items: center;
        gap: 150px;


    }


    #div-img img {
        border-radius: 5px;
        /* height: 410px; */
        /* mix-blend-mode: mul.tiply; */

    }

    #div-img {
        border-radius: 5px;
        /* background-color: #4B2B60; */
        /* filter: brightness(100%); */
    }



    #div-text h2 {

        font-size: 60px;
        line-height: 15px;
        margin-bottom: 30px;

    }

    #div-text h5 {

        font-size: 18px;
        margin-bottom: 15px;
    }

    #div-text p {
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        line-height: 18px;
        /* font-weight:normal; */


    }



    #div-text a {

        text-decoration: none;
        padding: 15px 35px;
        color: #f9004B;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(255, 255, 255, 0.05);
        border-radius: 5px;
        transition: background .6s;
    }

    #div-text a:hover {

        background-color: transparent;
        border: 1px solid #343538;
    }

    .card {

        padding: 35px 30px;
        background-color: #212428;
        border-radius: 10px;
        width: 15%;
        height: 100px;
        margin-bottom: 40px;
        margin-right: 40px;
        transition: background .8s;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid #343538;

    }

    #skills {

        /* margin: 60px 0px; */

        /* background-color:  #201B2C; */

        padding: 90px 50px;
        height: 75vh;
        background: #201B2C;

    }

    .card img {
        width: 50%;

    }

    .card:hover {

        background-color: #212428;
        border: none;
    }

    #skills h2 {

        font-size: 50px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 10px;

    }

    #skills p {
        color: #f9004B;
        font-size: 10px;
        letter-spacing: 1.05px;
        text-align: center;
        margin-bottom: 60px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;

    }

    .container {
        display: flex;
        /* flex-direction: row; */
        /* align-items: center; */

    }


    #projects {

        height: 100vh;
        background: #201B2C;
        padding: 50px 50px;


    }

    #projects h2 {
        font-size: 50px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 20px;

    }



    .card-projects {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;


        background-color: #212428;
        padding: 25px 20px 25px 20px;
        border: 1px solid #343538;
    }


    .border {

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card-projects p {

        margin-bottom: 20px;


    }

    .card-projects h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }


    .img {

        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .img img {

        width: 80%;

    }

        .flex3 {
            margin-top: 25px;
            margin-left: 25px;
        }
    
        .flex4 {
            margin-top: 35px;
            margin-left: 25px;
        }

}